Last_Notebook.ipynb
dataset_split/
runs/
YOLO_dataset/
notebook1679bdd539 (1).ipynb
notebook1679bdd539.ipynb
yolov8m.pt
yolov8n.pt
YOLO.yolov8.zip
vocab.pkl
vectorizer.pkl
3-Model Architecture_.ipynb
val.csv
train.csv
val_cleaned.csv
train_cleaned.csv
test.csv
test_cleaned.csv